@font-face {
    font-family: 'Vazir';
    src: url('../../../styles/fonts/variable/Vazirmatn[wght].ttf');
    font-weight: normal;
    font-style: normal;
}



@font-face {
    font-family: 'Vazir4';
    src: url('../../../styles/fonts/ttf/Vazirmatn-ExtraLight.ttf');
    font-weight: normal;
    font-style: normal;
}



.card{
    border: solid 1px rgb(227, 227, 227);
    border-radius: 0.5rem;
    width: 100%;

}

.card-container{
    display: grid;
}

.card-up-container{
    display: flex;
    text-align: right;
    font-family: 'Vazir';
    justify-content: space-between;
    font-size: 0.7rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    height: 8rem;
}



.card-up{
   display: flex;
   justify-content: right;
}

.card-up-text-1{
    font-weight: bold;
    font-size: 0.85rem;
}

.card-up-text-2{
    font-size: 0.85rem;
}




.card-up-text-3{
    font-size: 0.85rem;
    color: rgb(106, 106, 106);
    font-family: 'Vazir4';
}

.card-up-right{
    padding-top: 0.3rem;
}


.card-down{
    display: flex;
    justify-content: space-between;
    border-top:solid 1px rgb(234, 234, 234);
    padding: 0.2rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    align-items: center;
}

.card-down button{
   font-family: 'Vazir';
   border: none;
   padding:0.3rem 0.8rem 0.3rem 0.8rem ;
   background-color: rgb(95, 185, 95);
   border-radius: 0.25rem;
   color: white;
   font-size: 0.9rem;
   transition: all .3s ease-in-out;
   
}

.card-down button:hover{
    background-color: rgb(90, 176, 90);
}






.card-down p{
    font-family: 'Vazir';
    font-size: 0.8rem;
    color: rgb(161, 161, 161);
}

@media screen and (min-width: 320px) and 
(max-width: 996px) { 
    
    .card{
        width: 99%;
        height: 9.5rem;
    }

    .card-up-container{
        height: 5.5rem;
    }
    .card-down{
        display: flex;
        align-items: center;
    }
    
}


@media screen and (min-width: 996px) and 
(max-width: 1200px) {
    .card-up-container{
        height: 7rem;
    }
  
}