@font-face {
    font-family: 'Vazir';
    src: url('../../styles/fonts/variable/Vazirmatn[wght].ttf');
    font-weight: normal;
    font-style: normal;
}



@font-face {
    font-family: 'Vazir1';
    src: url('../../styles/fonts/ttf/Vazirmatn-ExtraBold.ttf');
    font-weight: normal;
    font-style: normal;
    font-display:swap;

}






.banner{
    display: flex;
    font-family: 'Vazir';
    margin-top: 1rem;
    justify-content: center;
    width: 100%;
    
}



.banner-container{
    display: flex;
    justify-content: space-between;
    width: 1230px;
    flex-direction: row-reverse;
}

.banner-card{
    display: flex;
    text-align: right;
    margin-top: 2rem;
    gap:1rem;
    padding-right: 10%;
}

.banner-card-right p{
    align-items: right;
    font-size: 0.9rem;
    color:rgb(128, 128, 128);
    display: flex;
    letter-spacing: 0.2px;
    font-size: 0.9rem;
    display: grid;
    align-items: center;
    text-align: right;
    justify-content: center;
    direction: rtl;
}


.span-tg{
    letter-spacing: -0.14px;
}

.span-tg2{
    letter-spacing: -0.01px;
}

.banner-card-right h2{
    font-weight: 800;
    font-size: 1.2rem;
    font-family: 'Vazir1';
}



.banner-card-right{
    margin-top: 2rem;
    margin-bottom: 0.5rem;
}

.banner-card-right button{
    border: none;
    font-family: 'Vazir';
    padding: 0.6rem 1rem 0.6rem 1rem;
    border:solid 2px black;
    font-weight: 600;
    border-radius: 0.25rem;
    cursor: pointer;
    margin-top: 0.2rem;
}

.banner-card-left img{
    margin-top: 2rem;
    align-items: left;
}




@media screen and (min-width: 320px) and 
(max-width: 775px) {


    .banner{
         align-items: center;
         justify-content: center;
         display: flex;
         width: 100%;
    }
    .banner-container{
        display: grid;
        padding-left: 0;
        padding-right: 0;
        justify-items: center;
        justify-content: center;
        align-items: center;
    }

    .banner-card{
        display: grid;
        justify-content: center;
        text-align: center;
        margin: 0;
        padding-left: 0;
        padding-right: 0;
        justify-items: center;
        align-items: center;
    }
    .banner-card-right{
        justify-content: center;
        justify-items: center;
        display: grid;
        width: 90%;
    }
    .banner-card-right h2{
        text-align: center;
        font-weight: 800;
        width: 82%;
        line-height: 1.5rem;
    }

    .banner-card-right p{
        line-height: 1.3rem;
        text-align: right;
        justify-content: center;
        font-size: 0.9rem;
        width: 82%;
        margin-bottom: 1rem;  
        letter-spacing: 0.4px;    
    }
    .text-banner{
        width: 92%;
        display:grid;
        align-items: center;
        justify-content: center;
        justify-items: center;
        text-align: center;
        margin-bottom: 1rem;
    }

    .banner-img{
        justify-content: center;
        display: grid;
        width: 100%;
        align-items: center;
        justify-items: center;
        margin-right: 3%;
   
    }

    .banner-img img{
        width: 90%;
        height: 70%;
    } 
    .span-tg{
        letter-spacing: -0.3px;
    }
    
    .span-tg2{
        letter-spacing: -0.5px;
    }
     
}